{% extends 'main/base.html' %}
{% load static %}

{% block title %}Корзина{% endblock title %}

{% block content %}
    <section class="basket d-flex">
        <div class="basket-title">
            <h2>Корзина покупок</h2>
        </div>
        <div class="basket-cards">
            {% for item in basket %}
                {% with product=item.product %}
                    <div class="basket-card d-flex">
                        <div class="basket-card-img">
                            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/noimage.jpg' %}{% endif %}">
                        </div>
                        <div class="basket-card-info">
                            <div class="basket-card-name">
                                <p>{{ product.name }}</p>
                            </div>
                            <div class="basket-card-q">
                                <p>Количество: {{ item.quantity }}</p>
                            </div>
                        </div>
                        <form action="{% url 'basket:basket_remove' product.id %}" method="post" >
                            <input type="submit" value="Удалить" class="remove-btn">
                                {% csrf_token %}
                        </form>
                        <div class="basket-card-price">
                            {% if product.discount %}
                                <div class="cart-discount d-flex gap-2">
                                    <p class="line"> {{ product.price }} р.</p>
                                    <p>{{ product.sell_price }} р.</p>
                                </div>
                            {% else %}
                                <p class="price">{{ product.price }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
        <div class="total">
            <h5>Общая сумма: {{ basket.get_total_price }} р.</h5>
        </div>
        <div class="basket-buttons d-flex gap-3">
            <a href="/shop" class="basket-btn">Продолжить покупки</a>
                {% with basket_quantity=basket|length %}
                    {% if basket_quantity > 0 %}
                        <a href="#" class="basket-btn">Оформить заказ</a>
                    {% endif %}
                {% endwith %}
        </div>
    </section>
{% endblock content %}
