{% extends 'main/base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<body>

<div class="title-block">
    <h1>Цены на оконные конструкции Pexay</h1>
    <p class="subtitle">Ниже представлены самые популярные продукты с ценами</p>
</div>

<div class="container">
    <div class="row g-4 row-cols-1 row-cols-md-3">

        <div class="col">
            <div class="product-card" style="background-image: url('{% static 'img/okno1.jpg' %}')">
                <div class="overlay">
                    <h5>ДВУХСТВОРЧАТОЕ ОКНО</h5>
                    <p>Профиль: <b>Pexay</b><br>
                    Размер: <b>1400×1500<br></b>
                    Материал: <b>ПВХ</b><br>
                    Цена: <b>от 16 000 руб.</b></p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="product-card" style="background-image: url('{% static 'img/okno2.jpg' %}')">
                <div class="overlay">
                    <h5>ТРЕХСТВОРЧАТОЕ ОКНО</h5>
                    <p>Профиль: <b>Pexay</b><br>
                    Размер: <b>1500×1900</b><br>
                    Материал: <b>ПВХ</b><br>
                    Цена: <b>от 22 000 руб.</b></p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="product-card" style="background-image: url('{% static 'img/balkon1.jpg' %}')">
                <div class="overlay">
                    <h5>П-ОБРАЗНЫЙ БАЛКОН</h5>
                    <p>Профиль: <b>Pexay</b><br>
                    Размер: <b>1400×1500 + (1400×700)×2</b><br>
                    Материал: <b>ПВХ</b><br>
                    Цена: <b>от 27 000 руб.</b></p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="product-card" style="background-image: url('{% static 'img/balkon2.png' %}')">
                <div class="overlay">
                    <h5>УГЛОВОЙ БАЛКОН</h5>
                    <p>Профиль: <b>Pexay</b><br>
                    Размер: <b>(1400×1500)×2</b><br>
                    Материал: <b>ПВХ</b><br>
                    Цена: <b>от 32 000 руб.</b></p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="product-card" style="background-image: url('{% static 'img/lodgiya.jpg' %}')">
                <div class="overlay">
                    <h5>ЛОДЖИЯ</h5>
                    <p>Профиль: <b>Pexay</b><br>
                    Размер: <b>1400×1500</b><br>
                    Материал: <b>ПВХ</b><br>
                    Цена: <b>от 21 000 руб.</b></p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="product-card" style="background-image: url('{% static 'img/kabluj.jpg' %}')">
                <div class="overlay">
                    <h5>БАЛКОН ТИПА «КАБЛУК»</h5>
                    <p>Профиль: <b>Pexay</b><br>
                    Размер: <b>1400×1500 + (1400×700)×2</b><br>
                    Материал: <b>ПВХ</b><br>
                    Цена: <b>от 38 000 руб.</b></p>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
{% endblock content %}